/* HOURLY */
body {
      font-family: Arial, sans-serif;
      background: #f4f4f9;
  font-size: 16px;
    }
    .hour-card {
      background: white;
      margin: 10px 0;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    .hour-card h3 {
      margin: 0 0 10px;
      color: #333;
    }
    .info {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      border-bottom: 1px solid #eee;
        
    }
    .info:last-child {
      border-bottom: none;
    }
    .label {
      font-weight: 300;
      color: #444 !important;
      background: transparent !important;
      font-size: 1.15rem !important;
    }

